.screen {
    border: 2px solid var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    justify-content: space-between;
    min-height: 187px;

    & strong {
        font-size: 30px;
        color: white;

        &.active {
            color: crimson;
        }
    }

    & small {
        flex-grow: 1;
        display: flex;
        align-items: center;
        color: crimson;
        text-align: center;
    }
}