* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./assets/main_bg.webp");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: "Roboto", sans-serif;

    &:before {
        content: '';
        position: absolute;
        inset: 0;
        background: #fff;
        opacity: 25%;
        z-index: -1;
    }
}

#root {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    padding: 50px;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    &:before {
        content: '';
        position: absolute;
        inset: 0;
        display: block;
        background: rgba(255, 255, 255, 0.25);
        z-index: -1;
    }
}

